@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: Azeret Mono;
    border: border-box;
}
.navbar{
    width: 1440px;
    height: 70px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 47px;
}
.navbar h1 {
    color: rgb(13, 19, 33);
    display: flex;
    align-items: center;
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    margin-left: 150px;
    align-items: center;
}
.navbar button{
    width: 228px;
    height: 58px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
}
.banner{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background: url("../assets/Hero-bg.png");
    background-image: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 74px;
}

.banner-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px 221px 26px 221px; 
}

.banner-contain img{
    margin-top: 26px;
}
.banner-contain h1{
    width: 998px;
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-top: 32px;
}
.banner-contain p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 32px;
}
.banner-contain button{
    color: rgb(255, 255, 255);
    width: 211px;
    height: 66px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400px;
    margin-top: 32px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/* <!-- Second Page Start Here --> */

.sec-page{
    width: 1140px;
    height: 1580px;
    margin: 0 auto;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.sec-page-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
}
.sec-page-header h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 24px;
}
.sec-page-header p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.sec-page-fstdiv{
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.sec-page-fstdiv >div>h1{
    width: 500px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
    }

.sec-page-fstdiv >div>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}

.sec-page-fstdiv >div>a{
    font-family: Azeret Mono;
    border: 1px solid rgb(13, 19, 33);
    padding: 12px 20px 12px 20px;
    text-decoration: none;
}

.sec-page-fstdiv img {
    right: 0;
    width: 259.56px;
    height: 217.01px;
}

.sec-page-secdiv{
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.sec-page-secdiv>div>h1{
    width: 500px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.sec-page-secdiv>div>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}

.sec-page-secdiv>div>a{
    font-family: Azeret Mono;
    border: 1px solid rgb(13, 19, 33);
    padding: 12px 20px 12px 20px;
    text-decoration: none;
}
.sec-page-secdiv img {
    left: 0;
    width: 259.56px;
    height: 217.01px;
    margin-right: 40px;
}
/* Third div start here  */

.sec-page-thrd_div{
    width: 946px;
    height: 336px;
    padding: 48px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.sec-page-thrd_div >div>h1{
    width: 500px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
    }

.sec-page-thrd_div >div>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}

.sec-page-thrd_div >div>a{
    font-family: Azeret Mono;
    border: 1px solid rgb(13, 19, 33);
    padding: 12px 20px 12px 20px;
    text-decoration: none;
}

.sec-page-thrd_div img {
    right: 0;
    width: 259.56px;
    height: 217.01px;
}

/* Third page Degine Start here */

.thrid-page-header{
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 60px;
    margin-top: 60px;
}
.thrid-page-header>h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 24px;
}
.thrid-page-header>p{
    color: rgb(13, 19, 33);
    width: 852px;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
    text-align: center;

}


.thrid-page-header>iframe{
    width: 1076px;
    height: 550px;
    padding: 32px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}


/* fotter style */


.fotter{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    background: url("../assets/handshake.jpg"), no-repeat;
    background-size: cover;
    padding: 64px 48px 64px 48px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotter h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}


.fotter p{
    width: 606px;
    height: 52px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 24px;
}
.fotter>form{
    width: 700px;
    height: 58px;
}

.fotter>form>input[type="text"]{
    width: 500px;
    height: 25px;
    border-radius: 8px;
    padding: 19px 20px 19px 20px;
}
.fotter>form>input[type="submit"]{
    width: 120px;
    height: 65.21px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    padding: 19px 20px 19px 20px;
    margin-bottom: 79px;
}
.fotter-bottom{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    padding: 32px 150px 32px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background: rgba(13, 19, 33, 0.03);
}

.fotter-bottom h2 img{
    width: 1140px;
    height: 40px;
    align-items: center;
}

 .fotter-bottom h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.fotter-bottom img {
    margin-left: 24px;
}

